Source: gerber-to-svg
Section: unknown
Priority: optional
Maintainer: Dan Holm <dan@macrofab.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.macrofab.net/
#Vcs-Git: git://git.debian.org/collab-maint/gerber-to-svg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gerber-to-svg.git;a=summary

Package: gerber-to-svg
Architecture: any
Depends:
Description: Gerber to SVG conversion application

# Package: gerber-to-svg-doc
# Architecture: all
# Description: documentation for gerber-to-svg
#  <insert long description, indented with spaces>
